<div class="page-header">
	<h1>Articles <small>Written by me</small></h1>
</div>

<div class="span4">
	<h2>Articles</h2>
	Some of the more weird and interesting things I've done for work have been put up on my blog. My "bigger" articles are listed here.
</div>

<div class="span8">
	<div class="well">
		<h2><a href="http://blog.arcath.net/2012/06/wds-on-server-2003/" target="_BLANK">WDS on Server 2003</a></h2>
		In a few of the schools I support I have relatively new servers running Windows Server 2003, which is now causing an issue with the number of Windows 7 machines coming in. As described in this article I have come up with a process which allows for a similar level of functionality to 2008r2's WDS on 2003.
	</div>
	<div class="well">
		<h2><a href="http://blog.arcath.net/2012/05/proxy-pac-for-a-school/" target="_BLANK">Proxy.pac for a school</a></h2>
		As described in the article I've always done school internet settings by simply setting the proxy server in the GPO and whilst it worked it was a bit inflexible. A proxy.pac file contains a javascript function which is run for every request. It allows you do load balance between proxy servers and configure special cases. In this article I give an example of my pac file and a few examples of why its better than static config.
	</div>
</div>