<div class="page-header">
	<h1>Code</h1>
</div>

<div class="span3">
	<table class="table table-bordered contact-list">
		<tr>
			<th colspan="2">Languages</th>
		</tr>
		<tr>
			<td><img src="/img/css3.png" /></td>
			<td>CSS</td>
		</tr>
		<tr>
			<td><img src="/img/html5.png" /></td>
			<td>HTML</td>
		</tr>
		<tr>
			<td><img src="/img/js.png" /></td>
			<td>Javascript<br />jQuery<br />Node.js</td>
		</tr>
		<tr>
			<td><img src="/img/ruby.png" /></td>
			<td>Ruby<br />Rails</td>
		</tr>
		<tr>
			<td><img src="/img/vbs.png" /></td>
			<td>VBS</td>
		</tr>
	</table>
</div>

<div class="span9">
	<div class="well">
		<h2><a href="http://adauth.arcath.net/" target="_BLANK">Adauth</a></h2>
		Adauth provides Active Directory Authentication for Ruby &amp; Rails.<br />
		<br />
		It was originally written for Springboard but has since become its own gem and is on the verge of spawning a collection of gems to help make working with Active Directory easier.
	</div>
	
	<div class="well">
		<h2>Springboard</h2>
		Springboard is a large rails application written for the company I work for. It originally started off as the stock control system but quickly expanded to handling all our Purchase Orders and Invoices through the <a href="http://blog.arcath.net/2011/12/kashflow-gem/" target="_BLANK">Kashflow Gem</a>
	</div>
	
	<div class="well">
		<h2>TrainBBCode</h2>
		TrainBBCode is the BBCode from the now abandoned rails CMS <i>Train</i>. It has been used in all the rails applications where I had users inputting large amounts of text.
	</div>
	
	<div class="well">
		<h2><a href="https://github.com/Arcath/VanityPage" target="_BLANK">Vanity Page</a></h2>
		Vanity Page is the sinatra app for this page. It uses twitters bootstrap library to create one continuos page with loads of information about me.
	</div>
</div>