<div class="page-header">
	<h1>Games <small>PC, PS3 &amp; Xbox360</small></h1>
</div>

<div class="span4">
	<h2>Games</h2>
	I'm quite an avid gamer spending most of my time outside work playing some form of competitive online game. These lists are by no means my complete game library but they represent my "core" games.<br />
	<br />
	I prefer playing RTS/MOBA Games but I will play pretty much anything. I do most of my gaming on my PC and most of library is in <a href="http://www.steampowered.com/" target="_BLANK">Steam</a>.
</div>

<div class="span4">
	<h2>PC</h2>
	<table class="table table-bordered contact-list">
		<tr>
			<td><img src="/img/bf3.png" /></td>
			<td>Battlefield 3</td>
		</tr>
		<tr>
			<td><img src="/img/d3.png" /></td>
			<td>Diablo 3</td>
		</tr>
		<tr>
			<td><img src="/img/lol.png" /></td>
			<td>League of Legends</td>
		</tr>
		<tr>
			<td><img src="/img/sc2.png" /></td>
			<td><a href="http://eu.battle.net/sc2/en/profile/1956492/1/Arcath/" target="_BLANK">Starcraft 2</a></td>
		</tr>
		<tr>
			<td><img src="/img/tf2.png" /></td>
			<td><a href="http://steamcommunity.com/id/Arcath/stats/TF2/?tab=stats" target="_BLANK">Team Fortress 2</a></td>
		</tr>
		<tr>
			<td><img src="/img/wow.png" /></td>
			<td>World of Warcraft</td>
		</tr>
	</table>
</div>

<div class="span4">
	<h2>PS3</h2>
	<table class="table table-bordered contact-list">
		<tr>
			<td><img src="/img/mw3.png" /></td>
			<td>Call Of Duty: Modern Warfare 3</td>
		</tr>
		<tr>
			<td><img src="/img/gt5.png" /></td>
			<td>Gran Turismo 5</td>
		</tr>
	</table>
	<h2>Xbox 360</h2>
	<table class="table table-bordered contact-list">
		<tr>
			<td><img src="/img/halo.png" /></td>
			<td>HALO: Reach</td>
		</tr>
		<tr>
			<td><img src="/img/red.png" /></td>
			<td>Red Dead Redemption</td>
		</tr>
	</table>
</div>
