<div class="page-header">
	<h1>Games <small>PC, PS3 &amp; Xbox360</small></h1>
</div>

<div class="span4">
	<h2>PC</h2>
	I play most of my Games on PC. My "top" games are:
	<table class="table table-bordered contact-list">
		<tr>
			<td><img src="/img/bf3.png" /></td>
			<td>Battlefield 3</td>
		</tr>
		<tr>
			<td><img src="/img/d3.png" /></td>
			<td>Diablo 3</td>
		</tr>
		<tr>
			<td><img src="/img/lol.png" /></td>
			<td>League of Legends</td>
		</tr>
		<tr>
			<td><img src="/img/sc2.png" /></td>
			<td><a href="http://eu.battle.net/sc2/en/profile/1956492/1/Arcath/" target="_BLANK">Starcraft 2</a></td>
		</tr>
		<tr>
			<td><img src="/img/tf2.png" /></td>
			<td>Team Fortress 2</td>
		</tr>
		<tr>
			<td><img src="/img/wow.png" /></td>
			<td>World of Warcraft</td>
		</tr>
	</table>
</div>

<div class="span4">
	<h2>PS3</h2>
	My newest console, spends most of its time as a blu-ray/dvd player but when It does get used for gaming I play:
	<table class="table table-bordered contact-list">
		<tr>
			<td><img src="/img/mw3.png" /></td>
			<td>Call Of Duty: Modern Warfare 3</td>
		</tr>
		<tr>
			<td><img src="/img/gt5.png" /></td>
			<td>Gran Turismo 5</td>
		</tr>
	</table>
</div>

<div class="span4">
	<h2>Xbox 360</h2>
	I don't pick up my 360 that often anymore but when I do...
	<table class="table table-bordered contact-list">
		<tr>
			<td><img src="/img/halo.png" /></td>
			<td>HALO: Reach</td>
		</tr>
		<tr>
			<td><img src="/img/red.png" /></td>
			<td>Red Dead Redemption</td>
		</tr>
	</table>
</div>
