<p>I work as an IT engineer for a small company in the north of England. Most of my days are spent in schools maintaing windows domains and plugging things back in.</p>
<p>I also do a lot of Ruby development on everything from Active Directory Gems to Account & Stock Control applications.</p>