<div class="page-header">
	<h1>Work <small>IT Engineer &amp; Web Developer</small></h1>
</div>

<div class="span4">
	<h2>My Work</h2>
	Since finishing 6<sup>th</sup> form in 2008 I started working at <a href="http://www.ed-itsolutions.com" target="_BLANK">Ed-IT Solutions</a> as a part time Web designer doing the websites for some of the primary schools they support.<br />
	<br />
	In 2009 I became a full time IT engineer doing the web design in the afternoons after finishing maintenance visits in the schools I supported.
</div>

<div class="span4">
	<h2>IT Engineer</h2>
	As an IT engineer I work in primary schools providing all levels of support, everything from plugging mice back in to build windows domains, imaging computers and cabling networks.<br />
	<br />
	I am proficient in:
	<ul>
		<li>Windows Server 2003+</li>
		<li>Windows XP+</li>
		<li>Windows Domain Administration (Active Directory, Group Policy etc...)</li>
		<li>Windows Deployment Services</li>
		<li>Linux (Ubuntu Server mainly)</li>
		<li><a href="http://www.fogproject.org">FOG (Free Opensource Ghost)</a></li>
		<li>Mac OS</li>
		<li>iOS in education</li>
	</ul>
	As well as a whole host of side projects I've had to look at for the schools I work in.
</div>

<div class="span4">
	<h2>Web Developer</h2>
	A lot of my work as a web developer has already been covered in <a href="#code">Code</a>, the gems I've written for work have been open sourced and the links to the repos are up there. Other work projects like Trainyard and Springboard are not available publicly due to their sensitive nature, and only work if you use Kashflow in the same way as us.<br /><br />As a developer I am capable of driving projects myself, all these projects started with me walking over to my boss and saying the way we do X could be better, and then coming back a week later with a very rough beta with lots of placeholders.
</div>