<!DOCTYPE html>
<html lang="en">
<head>
	<title>Adam Laycock</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/layout.css" rel="stylesheet">
	<link rel="shortcut icon" href="https://secure.gravatar.com/avatar/4dea71e9df9a75bddd0c6aac8095065b?s=16" />
	<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-19397862-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<canvas id="background"></canvas>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">Adam Laycock</a>
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/code">Code</a></li>
					<li><a href="/work">Work</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/games">Games</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/articles">Articles</a></li>
					<li class="divider-vertical"></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="main" class="container">
		<%= render @format, File.read(@file) %>
	</div>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/layout.js"></script>
</body>
</html>