<div class="page-header">
	<h1>Adam Laycock <small>IT Engineer, Programmer &amp; Gamer</h1>
</div>
<div class="row">
	<div class="span4">
		<div class="thumbnail">
			<img src="/img/profile.png" />
			<div class="caption">
				<h3>Adam Laycock</h3>
				<p>I work as an IT engineer for a small company in the north of England. Most of my days are spent in schools maintaing windows domains and plugging things back in.</p>
				<p>I also do a lot of Ruby development on everything from Active Directory Gems to Account & Stock Control applications.</p>
			</div>
		</div>
	</div>
	<div class="span5">
		<h2>My Tumblings</h2>
		<%= VanityPage::Helpers.tumblings %>
	</div>
	<div class="span3">
		<table class="table table-bordered contact-list">
			<tr>
				<td><img src="/img/github_64.png" /></td>
				<td><a href="https://github.com/Arcath" target="_BLANK">Arcath</a></td>
			</tr>
			<tr>
				<td><img src="/img/linkedin_64.png" /></td>
				<td><a href="http://www.linkedin.com/profile/view?id=120149266&trk=tab_pro" target="_BLANK">Adam Laycock</a></td>
			</tr>
			<tr>
				<td><img src="/img/twitter_64.png" /></td>
				<td><a href="http://twitter.com/ArcathWhitefall" target="_BLANK">@ArcathWhitefall</a></td>
			</tr>
		</table>
		<div class="well">
			<h2>Sites</h2>
			<h3><a href="http://theguildwars.co.uk" target="_BLANK">The Guild Wars</a></h3>
			TGW is a Guild Wars 2, Guild &amp; Character database. 
			<br />
			<br />
			<h3><a href="http://www.1337gaming.co.uk" target="_BLANK">1337 Gaming</a></h3>
			A small forum for anyone who wants to play games with us, see <a href="#games">Games</a> for a list of the games I personally play.
			<br />
			<br />
			<h3><a href="http://tumblr.arcath.net/" target="_BLANK">My Tumblr</a></h3>
			My tumblr, full of random thoughts and pictures.
		</div>
	</div>
</div>