<div class="page-header">
	<h1>A New Vanity Page</h1>
</div>

<div class="well">
	<p><a href="https://github.com/Arcath/VanityPage" target="_BLANK">VanityPage</a> hasn't changed much since I originally wrote it at the begining of this year, the sinatra app has remained the same and aside from adding Diablo 3 when it came out I haven't really touched it.</p>
	<p class="lead">Untill now</p>
	<p>The Sinatra app has been replaced with a new easier to expand version which is actually a copy of something I am working on at work. If it starts gaining complexity I might look at moving it into its own Gem but as it stands a simple web server isnt something I think the users of Sinatra need putting into a Gem.</p>
	<p>The biggest visual change (apart from the coulds on the background) is that everything isn't on one page anymore. I felt that splitting it up would make adding more content easier. I'm still using <a href="http://twitter.github.com/bootstrap" target="_BLANK">twitters bootstrap library</a> as its awesome and I can't see any reason not to.</p>
	<p>I am now adding articles here, it does mean that I need to add articles via git but it allows people to fork them and contribute (If you where so inclined).</p>
</div>