<div class="page-header">
	<h1>Error 404</h1>
</div>
<div class="row">
	<div class="span4">
		<div class="well">
			<p>The Path</p>
			<p class="lead"><%= request.path_info %></p>
			<p>Does not exist!</p>
		</div>
	</div>
</div>